@charset "utf-8";


@font-face {
    font-family: 'mifuente';
    src: url('../fonts/pixel_font.otf');
}

.claseImg{
    align: center;
    border: 5px solid black;
    box-shadow: 5px 5px 5px black;
    transition: 0.2s;

}



body{ background-image: url('../images/Nature-Pixel-Art-AI-Generated-4K-Wallpaper.jpg');
    background-size: 100%;}

a{
    text-decoration: none;
    color:#d8944b;
}

#fotoWS{
    width: 40%;
    border:border: 5px solid black;
    border-radius:20%;
    box-shadow:  5px 5px 5px black;
}

ul, h1{
    text-align: center;
    font: 110px 'mifuente';
    color: #d8944b;
    -webkit-text-stroke: 4px black;
    text-shadow:  -6px 4px 10px rgba(134, 101, 51, 0.8); 


}


li{
    margin: 25px 600px;
    transition: 0.2s;

}

li, .claseImg:hover{
    -webkit-transform:scale(1.15);


}

